<div
	ng-controller="dashboardCtrl as vm">
	<div 
		class="col-md-12 menu-border-bottom">
		<h4>Data Report Dashboard - WMF</h4>
	</div>
	<div class="col-md-12 menu-border-bottom" 
		>
		<!--<div
			class="col-md-3 padding-none margin-none"
			ng-if="vm.detailVisible">
			<div 
				class="col-md-4 padding-none margin-none margin-top-5">
				<p class="margin-top-10"><b>Search Fund:</b></p>
			</div>
			<div class="col-md-8 margin-top-5">
				<input 
					type="text" 
					ng-model="vm.fundName" 
					class="form-control"
					placeholder="Enter a fund name to filter">
			</div>
		</div>-->
		<div 
			class="col-md-2 padding-none margin-none"
			ng-if="!vm.detailVisible">
			<!--<p 
				class="margin-top-10"><b>Please Select AsOfDate: </b>
			</p>-->
		</div>
		<div 
			class="col-md-8 padding-none margin-none"
			ng-if="!vm.detailVisible">
			<!--<div 
				class="btn-group margin-5" 
				uib-dropdown is-open="status.isopen"
				style="width:200px;">
			<button 
				id="split-button" 
				type="button"
				class="btn btn-primary"
				style="width:160px;"
				>{{vm.selected}}</button>
		    <button type="button"
		    	class="btn btn-primary" 
		    	uib-dropdown-toggle
		    	style="width:40px;">
		        <span class="caret"></span>
		        <span class="sr-only">Split button!</span>
		      </button>
		      <ul 
		      	class="dropdown-menu" 
		      	uib-dropdown-menu 
		      	role="menu" 
		      	aria-labelledby="single-button" 
		      	style="width:200px;">
		        <li role="menuitem" 
		        	ng-repeat="family in vm.fundData"><a href="#" ng-click="vm.selectDate(family)">{{family.asOfDate}}</a></li>		        
		      </ul>
		    </div>-->
		</div>
		<div 
			class="col-md-2 padding-none margin-none"
			ng-if="!vm.detailVisible">
			<p 
				class="margin-top-10"><b>Business Day: {{vm.businesDay}}</b></p>
		</div>
		<!--<div class="col-md-2 padding-none margin-none margin-top-5">
			<label>Expend All:
			     <button 
			     	class="btn btn-default"
			     	ng-click="vm.expendCollepse()">
			     	<i ng-class="vm.expendCheckbox? ' fa fa-check-square-o' : 'fa fa-square-o'"
                 style="color:#65B8E2;" >
                  </i>
              	</button>
			 </label>
		</div>-->
		<!--<div class="col-md-7">
			<table style="width:100%;" class="margin-top-10">
				<tr>
					<td><b>Total Number of Missing Fields: </b></td>
					<td class="red-text"><b>Base Currency: {{vm.missingField.currency}}</b></td>
					<td class="red-text"><b>Core Holding ID: {{vm.missingField.coreHoldingID}}</b></td>
					<td class="red-text"><b>POE: {{vm.missingField.poe}}</b></td>
					<td class="red-text"><b>NAV: {{vm.missingField.nav}}</b></td>
					<td class="red-text"><b>ISIN: {{vm.missingField.isin}}</b></td>
				</tr>
			</table>
		</div>-->
		<div class="col-md-11 padding-none margin-none"
			ng-if="vm.detailVisible">
			<div 
				class="col-md-4 padding-none margin-none margin-top-5">
				<b>Approved As At Date: {{vm.viewDetailAsOfDate.approveDate}}</b>
			</div>
			<div 
				class="col-md-4 margin-top-5" 
				style="text-align:center;">
				<b>Most Recent As At Date: {{vm.viewDetailAsOfDate.recentDate}}</b>
			</div>
			<div 
				class="col-md-2 margin-top-5 red-text" 
				style="text-align:center;">
				<b>Total Errors: {{vm.viewDetailAsOfDate.error}}</b>
			</div>
			<div 
				class="col-md-2 margin-top-5 red-text" 
				style="text-align:center;"><b>Total Warnings: {{vm.viewDetailAsOfDate.warning}}</b>
			</div>
			
		</div>
		<div class="col-md-1 padding-none margin-none"
			ng-if="vm.detailVisible">
			<button
				class="btn btn-primary"
				style="margin: 1px 0px 1px 0px;"
			 	ng-click="vm.viewErrorDetails()">Back >></button>
		</div>
	</div>
	
	<div  class="col-md-12 padding-none margin-none margin-top-5"
		ng-if="!vm.detailVisible">
		<div 
			class="box box-primary col-md-12 padding-none margin-none">
			<div 
				class="fund-list">
				<ul 
					style="width:100%;" 
					class="padding-none margin-none">
					<li 
						class="col-md-12 padding-none margin-none height-35">
			   			<div 
			   				class="col-md-2 margin-top-5"><b>Data Category</b>
			   			</div>
		   				<div 
		   					class="col-md-1 margin-top-5"><b>As Of Date</b>
		   				</div>
		   				<div 
		   					class="col-md-2 margin-top-5"><b>Approved As At Date</b>
		   				</div>		   				
		   				<div 
		   					class="col-md-2 margin-top-5"><b>Available As At Dates</b>
		   				</div>
		   				<div 
		   					class="col-md-4 margin-top-5 width-32-per"><b>Data Quality</b>
		   				</div>
		   				<div 
		   					class="col-md-1 padding-none margin-top-5 pad-left-5"><b>NT Name</b>
		   				</div>
			   		</li>
			   		<li class="col-md-12 padding-none margin-none height-35"
			   			ng-repeat="(key, items) in vm.selectedFundFamilly.version">
			   			<div class="col-md-2 margin-top-5 height-30">
			   				<b>{{items.Name}}<label ng-if="vm.visibleAsterisk(items)" class="color-red">*</label></b>
			   			</div>
			   			<div class="col-md-1 margin-top-5 height-30">
			   				{{vm.selected}}
			   			</div>
			   			<div ng-class="(items.oldApprovedDate === items.approveDate)?'col-md-2 margin-top-5 height-30': 'col-md-2 margin-top-5 height-30 heighlight-bg'">
			   				{{items.approveDate}}
			   			</div>			   			
			   			<div class="col-md-2 height-30">
			   				<div class="btn-group" uib-dropdown is-open="status.isopen">
								<button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
								{{items.recentDate}}<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
									<li role="menuitem"
										ng-class="(indexItem.override)?'heighlight-bg':''"
										ng-repeat="indexItem in items.recentDates">
										<a href="#" ng-click="vm.selectRecentDate(items, indexItem)">{{indexItem.date}}<i class="fa fa-check" ng-if="indexItem.override" aria-hidden="true"></i></a>
									</li>
								</ul>
						    </div>
			   			</div>
			   			<div ng-class="vm.valideOverrideBox(items)">
			   				<div class="col-md-8 padding-none margin-none"
			   					ng-if="(items.error === 0 && items.warning === 0)">
			   					<b>Data Quality: No Error, Warnings</b>	
			   				</div>
			   				<div class="col-md-8 padding-none margin-none"
			   					ng-if="items.error !== 0 || items.warning !== 0">
				   				<table>
				   					<tr>
				   						<td><b>Data Quality:&nbsp;</b></td>
				   						<td>
				   							<div 
							   					title="Click to View Detail"
							   					class="alert alert-danger mouse-p"
							   					style="width: 78px; margin-right: 1px;"
							   					ng-click="vm.viewErrorDetails(items, key)">Errors: {{items.error}}</div>
				   						</td>
				   						<td>
				   							<div 
							   					title="Click to View Detail"
							   					class="alert alert-warning mouse-p"
							   					style="width: 98px; margin-right: 1px;"
							   					ng-click="vm.viewErrorDetails(items, key)">Warnings: {{items.warning}}</div>
				   						</td>
				   					</tr>
				   				</table>
				   				
				   				
				   				
			   				</div>
			   				<div class="col-md-2 padding-none margin-none">
				   				<button
				   					class="btn btn-default"><i class="fa fa-comments-o" aria-hidden="true"
				   					style="color: #3c8dbc;"
				   					ng-click="vm.openCommentModal(items)"></i></button>
			   				 </div>
			   				<div class="col-md-2 padding-none margin-none"
			   					ng-if="(!items.override && (items.error !== 0 && items.warning !== 0))">
				   				<button
				   					class="btn btn-default"
				   				 ng-click="vm.approveData(items, items.recentDate)">Override</button>
			   				 </div>
			   				 <div class="col-md-2 padding-none margin-none"
			   					ng-if="(items.override && (items.error !== 0 || items.warning !== 0))">
				   				<button
				   					class="btn btn-default">Rollback</button>
			   				 </div>
			   			</div>
			   			<div class="col-md-1 padding-none margin-top-5 height-30 pad-left-5">
			   				{{items.user}}
			   			</div>
			   		</li>			   		
				</ul>
			</div>
		</div>
	</div>



	<div  class="col-md-12 padding-none margin-none margin-top-5"
		ng-if="vm.detailVisible">
		<category-error-warning-details 
			selected-fund-familly="vm.selectedFundFamilly[vm.selectedCategory]"
			fund-name="vm.fundName"
			fund-graph-data="{{vm.fundGraphData}}"
			pie-data="{{vm.pieData}}"></category-error-warning-details>
		<!--<uib-tabset active="activePill" class="col-md-12" type="pills">
			<uib-tab index="0" heading="View Fields">
					<div class="box box-primary col-md-12 padding-none margin-none">
						<div class="fund-list">
							<ul style="width:100%;" class="padding-none margin-none">
								<li ng-repeat="fund in vm.selectedFundFamilly[vm.selectedCategory] | fundFilter:vm.fundName" style="" ng-class="(fund.visible.fund)?' col-md-12 padding-none margin-none height-auto':'col-md-12 padding-none margin-none height-35'">
						   			
						   			<div class="col-md-6 margin-top-5 height-30">
						   				<a href="" ng-click="vm.toggleFundTree(fund)"><i ng-class="(fund.visible.fund)?'fa fa-minus-square':'fa fa-plus-square'" aria-hidden="true"></i> {{fund.Name}}</a>
						   			</div>
					   				<ul style="width:100%;"
					   					class="padding-none margin-none"
					   					ng-if="fund.visible.fund">
					   					<li 
					   						ng-class="(fund.visible.error)?' col-md-12 padding-none margin-none height-auto':'col-md-12 padding-none margin-none height-35'">
					   						<div class="col-md-2 margin-top-5 height-30">
								   				<a href="" 
								   					ng-click="vm.toggleExpendChildren(fund, 'error')">
								   					<i ng-class="vm.getSysmbolForChild(fund, 'error')" aria-hidden="true"></i> </a>
								   				<b>Errors</b>
								   			</div>
								   			<div class="col-md-12 box-border"
								   				ng-if="fund.visible.error"> 
								   				<div  class="col-md-12">
								   					<div class="col-md-3 alert alert-danger margin-5">
								   						Fund long name missing
								   					</div>
								   					<div class="col-md-3 alert alert-danger margin-5">
								   						Domicile missing
								   					</div>
								   					<div class="col-md-3 alert alert-danger margin-5">
								   						Fund inception date missing
								   					</div>
								   				</div>
								   				<div  class="col-md-12">
								   					<div class="col-md-3 alert alert-danger margin-5">
								   						Since inception date missing
								   					</div>
								   					<div class="col-md-3 alert alert-danger margin-5">
								   						ISIN missing
								   					</div>
								   				</div>
								   			</div>


					   					</li>
					   					<li ng-class="(fund.visible.warning)?' col-md-12 padding-none margin-none height-auto':'col-md-12 padding-none margin-none height-35'">
					   						<div class="col-md-2 margin-top-5 height-30">
								   				<a href="" 
								   					ng-click="vm.toggleExpendChildren(fund, 'warning')"><i ng-class="vm.getSysmbolForChild(fund, 'warning')" aria-hidden="true"></i> </a>
								   				<b>Warnings</b>
								   			</div>
								   			<div class="col-md-12 box-border"
								   				ng-if="fund.visible.warning"> 
								   				<div  class="col-md-12">
								   					<div class="col-md-3 alert alert-warning margin-5">
								   						Country Code Missing
								   					</div>
								   					<div class="col-md-3 alert alert-warning margin-5">
								   						Start Rating Negative
								   					</div>
								   					<div class="col-md-3 alert alert-warning margin-5">
								   						Fund Asset Date Missing
								   					</div>
								   				</div>
								   				<div  class="col-md-12">
								   					<div class="col-md-3 alert alert-warning margin-5">
								   						Share Class currency invalid ISO code
								   					</div>
								   					
								   				</div>
								   			</div>
					   					</li>
					   				</ul>


						   		</li>
							</ul>
						</div>
					</div>

			</uib-tab>
			<uib-tab index="1" heading="Data Report">
					<div class="box box-primary col-md-12 padding-none margin-none">
						<div  class="col-md-12 menu-border-bottom margin-top-10">
							<div  class="col-md-6">
								<hc-pie-chart title="{{vm.pieDataTitle}}" data="vm.pieData">Placeholder for pie chart</hc-pie-chart>
							</div>

							<div class="col-md-6">
								<div class="col-md-12 padding-none margin-none">
									<div class="col-md-2">&nbsp;</div>
									<div class="col-md-2 padding-none margin-none"><p class="margin-top-10"><b>Select Fund: </b></p></div>
									<div class="col-md-8">
										<div class="btn-group margin-5" 
											uib-dropdown is-open="status.open"
											style="width:200px;">
											<button 
												id="split-button" 
												type="button"
												class="btn btn-primary"
												style="width:160px;"
												>{{vm.selectedFund}}</button>
										    <button type="button"
										    	class="btn btn-primary" 
										    	uib-dropdown-toggle
										    	style="width:40px;">
										        <span class="caret"></span>
										        <span class="sr-only">Split button!</span>
										      </button>
										      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width:200px;">
										        <li role="menuitem" 
										        	ng-repeat="fundItem in vm.selectedFundFamilly.funds"><a href="#" ng-click="vm.selectFundForGraph(fundItem)">{{fundItem.Name}}</a></li>		        
										      </ul>
									    </div>
									</div>
								</div>

								<div  class="col-md-12">
									<hc-pie-chart title="{{vm.titles[1] + vm.selectedFund}}" data="vm.fundGraphData">Placeholder for pie chart</hc-pie-chart>
								</div>								
							</div>
							
						</div>
						<div class="col-md-12 margin-top-10">
							<hc-chart options="vm.chartOptions">Placeholder for generic chart</hc-chart>
						</div>	
			     		
					</div>
			</uib-tab>
			
		</uib-tabset>-->
	</div>
	
</div>
