body {
    /*padding-top: 50px;*/
    background:#ecf0f5;
}

//.modal {
//  text-align: center;
//  padding: 0!important;
//}

//.modal:before {
//  content: '';
//  display: inline-block;
//  height: 100%;
//  vertical-align: middle;
//  margin-right: -4px;
//}

//.modal-dialog {
//  display: inline-block;
//  text-align: left;
//  vertical-align: middle;
//}
//.maincontainer {
//    height: 10em;
//    text-align:center;
//    margin-top: 200px;
//}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
}

.main-header .navbar {
    background-color: #3c8dbc;
    color: #fff;
}

//.left-nav-aside{
  /*background-color: #222d32;*/
//  background-color: #fff;
//  color: #000;
  /*color: #b8c7ce;*/
//  height: 610px;
//}


.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.box.box-primary {
    border-top-color: #3c8dbc;
}

.red-text{
  color: #a94442;
}
.danger-alert{
  background-color: #d73925;
  width: 70%;
  height: 80%;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
}
.box-danger{
  background-color: #dd5b4b;
  color: #ffffff;
  border-radius: 4px;
  height: 34px;
  //padding-top: 5px;
  margin-top: 1px;
}
.box-success{
  background-color: #5fbc27;
  color: #ffffff;
  border-radius: 4px;
  height: 34px;
  //padding-top: 5px;
  margin-top: 1px;
}
.box-override{
  background-color: #ffc107;
  color: #ffffff;
  border-radius: 4px;
  height: 34px;
  //padding-top: 5px;
  margin-top: 1px;
}
.color-red{
  color: red;
}
.heighlight-bg{
  background-color: #bbd4ea !important;
}
.success-alert{
  background-color: #5fbc27;
  width: 70%;
  height: 80%;
  color: #ffffff;
  text-align: center;
  border-radius: 3px;
}

.fund-list {

}
.fund-list ul, .fund-list ul li{
  list-style: none;
  margin: 0px;
}
.fund-list ul li{
  border-bottom: 1px solid #dddddd;
}
.fund-list ul>li:nth-child(even){
  background-color: #f9f9f9;
}
.fund-list ul>li>ul>li, .fund-list ul>li>ul>li>ul>li{
  border-bottom: none;
  border-top: 1px solid #c3c3c3;
  background-color: #ffffff;
}
//.fund-list ul>li>ul>li>div:first-child{
//  padding-left: 50px;
//}
.fund-list ul>li>ul>li>div{
  padding-left: 50px;
}
.fund-list ul>li>ul>li>ul>li>div:first-child{
  padding-left: 100px;
}
.fund-list table tr {
  border-bottom: 1px solid #dddddd;
}
.fund-list table tr td {
  height:30px;
}
.fund-list table tr th {
  height:35px;
  background-color: #f9f9f9;
}
.fund-list>table tr>th:first-child {
  padding-left: 15px;
}
.fund-list>table>tbody>tr>td:first-child {
  padding-left: 15px;
}
.fund-list table tbody>tr:nth-child(even){
  background-color: #f9f9f9;
}
.height-30{
  height: 30px;
}
.height-35{
  height: 35px;
}
.height-auto{
  height: auto;
}
.margin-5 {
  margin: 5px;
}
.padding-none{
  padding: 0px;
}
.margin-none{
  margin: 0px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-5{
  margin-top: 5px;
}
.pad-left-5{
  padding-left: 5px;
}
.width-32-per{
  width: 32%;
}
.width-30-per{
  width: 30%;
}
.width-3-per{
  width: 3%;
}
.nav-pills>li>a{
  border-radius: 4px 4px 0px 0px;
}
.menu-border-bottom{
  border-bottom: 1px solid #cccccc; color: #687380;
}
.alert{
  padding: 5px 5px 10px 5px;
  margin-bottom: 0px;
}

.box-border{
  border: 1px solid #cccccc; color: #687380;
}
.mouse-p{
  cursor: pointer;
}
.red{
  background-color: #ebccd1 !important;
}